html {
  background: #fff;
}
body {
  background: $main-bg;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}

.main {
  min-height: 100vh;
  height: 100%;
  &.career-inner-wrap {
    background: white;
  }
  > .circle {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      background: url(../assets/decorations_circle.svg) center / contain
        no-repeat;
      position: absolute;
      opacity: 0.2;
      z-index: 1;
    }
  }
  > .left-top-circle {
    width: 432px;
    height: 432px;
    top: 15%;
    left: -15%;
  }
  > .left-bottom-circle {
    width: 232px;
    height: 232px;
    bottom: 20%;
    left: -2%;
  }
  > .right-top-circle {
    width: 232px;
    height: 232px;
    top: 30%;
    right: 15%;
  }
  > .left-top-chips--yellow {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      width: 310px;
      height: 330px;
      background: url(../assets/yellow-chips.svg) center / contain no-repeat;
      position: absolute;
      top: 32%;
      left: -5%;
      z-index: 1;
      opacity: 0.2;
    }
  }
  > .dots-1 {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      position: absolute;
      top: 23%;
      left: 55%;
      background: linear-gradient(179.48deg, #abace7 -130.63%, #5e5fb7 143.63%);
      box-shadow: 0px 0px 25px rgba(246, 247, 255, 0.25);
      transform: matrix(0.97, -0.25, -0.25, -0.97, 0, 0);
      border-radius: 100%;
      width: 32px;
      height: 32px;
      z-index: 1;
      opacity: 0.2;
    }
  }
  > .dots-2 {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      position: absolute;
      top: 45%;
      left: 5%;
      background: linear-gradient(139.14deg, #ffd595 -24.26%, #f3ac40 119.76%);
      box-shadow: 0px 0px 25px rgba(248, 189, 101, 0.25);
      border-radius: 100%;
      width: 63px;
      height: 63px;
      z-index: 1;
      opacity: 0.2;
    }
  }
  > .dots-3 {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      position: absolute;
      top: 48%;
      left: 20%;
      background: linear-gradient(179.48deg, #abace7 -130.63%, #5e5fb7 143.63%);
      box-shadow: 0px 0px 25px rgba(124, 126, 206, 0.25);
      border-radius: 5px;
      transform: matrix(0.48, -0.88, -0.88, -0.48, 0, 0);
      width: 29px;
      height: 29px;
      z-index: 1;
      opacity: 0.2;
    }
  }
  > .dots-4 {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      position: absolute;
      top: 47%;
      right: 30%;
      background: linear-gradient(139.14deg, #ffd595 -24.26%, #f3ac40 119.76%);
      box-shadow: 0px 0px 25px rgba(248, 189, 101, 0.25);
      border-radius: 10px;
      transform: matrix(0.33, -0.94, -0.94, -0.33, 0, 0);
      width: 47px;
      height: 47px;
      z-index: 1;
      opacity: 0.2;
    }
  }
  > .dots-5 {
    display: none;
    @media screen and (min-width: 1100px) {
      display: block;
      position: absolute;
      top: 60%;
      left: 50%;
      background: linear-gradient(139.14deg, #ffd595 -24.26%, #f3ac40 119.76%);
      box-shadow: 0px 0px 25px rgba(248, 189, 101, 0.25);
      border-radius: 10px;
      transform: matrix(-0.39, -0.92, -0.92, 0.39, 0, 0);
      width: 68px;
      height: 68px;
      z-index: 1;
      opacity: 0.2;
    }
  }
}

.navigation {
  display: flex;
  > a {
    display: inline-block;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 145%;
    color: #abace7;
    text-decoration: none;
    margin-right: 40px;
    position: relative;
    transition: all 0.3s ease-in-out;
    @media screen and (min-width: 550px) {
      font-size: 14px;
    }
    &:hover {
      color: #ebb86c;
    }
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      background: url(../assets/nav-arrow.svg) center / contain no-repeat;
      position: absolute;
      top: 50%;
      left: -24px;
      transform: translate(0, -50%);
    }
    &:last-child {
      background: linear-gradient(138.89deg, #fad091 5.3%, #ebb86c 83.26%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #ebb86c;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}

.title {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 135%;
  color: $title-color;
  margin-block-start: 0;
  margin-block-end: 0;
  @media screen and (min-width: 1100px) {
    font-size: 56px;
  }
  @media screen and (min-width: 550px) and (max-width: 1099px) {
    font-size: 42px;
  }
}

.small-title {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 135%;
  color: #f6f7ff;
  margin-block-start: 0;
  margin-block-end: 0;
  @media screen and (min-width: 1100px) {
    font-size: 42px;
  }
  @media screen and (min-width: 550px) and (max-width: 1099px) {
    font-size: 28px;
  }
}

.untitle {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #d7d7e3;
  margin-block-start: 0;
  margin-block-end: 0;
  @media screen and (min-width: 1100px) {
    font-size: 32px;
  }
  @media screen and (min-width: 550px) and (max-width: 1099px) {
    font-size: 20px;
  }
}

.text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  color: $text-color;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
  @media screen and (min-width: 1100px) {
    font-size: 20px;
  }
  @media screen and (min-width: 550px) and (max-width: 1099px) {
    font-size: 18px;
  }
}

.services__comments-slider > .slick-dots > li {
  display: inline-block;
  position: relative;
}

.services__comments-slider > .slick-dots > li > button {
  opacity: 0;
}

.services__comments-slider > .slick-dots > li:before {
  content: "";
  width: 8px;
  height: 8px;
  background: url(../assets/chips-slider.svg) center / contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__comments-slider > .slick-dots > li.slick-active:before {
  width: 16px;
  height: 16px;
  background: url(../assets/chips-active-slider.svg) center / contain no-repeat;
}

.services__comments-slider > .slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -50px;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
