.main-page {
  z-index: 5;
  &__content {
    padding: 112px 0 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @media screen and (min-width: 1100px) {
      min-height: calc(100vh + 200px);
      padding: 200px 0 600px;
      background: url(../assets/project_preview.png) center bottom / contain
        no-repeat;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      min-height: 900px;
      background: url(../assets/project_preview.png) center bottom / contain
        no-repeat;
    }
  }
  &__button {
    margin: 0 16px;
    width: calc(100% - 32px);
    @media screen and (min-width: 1100px) {
      margin: 0;
      width: initial;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      margin: 0 32px;
      width: calc(100% - 64px);
    }
  }
  &__title {
    text-align: center;
    margin: 0 16px;
    width: calc(100% - 32px);
    @media screen and (min-width: 1100px) {
      margin: 0;
      max-width: 940px;
      width: 100%;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      margin: 0 32px;
      width: calc(100% - 64px);
    }
    > span {
      position: relative;
      display: inline-block;
      z-index: 2;
      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        left: -15px;
        top: -30px;
        width: 150px;
        height: 90px;
        background: url(../assets/neon.png) center / contain no-repeat;
        @media screen and (min-width: 1100px) {
          left: -25px;
          top: -30px;
          width: 300px;
          height: 125px;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          left: -20px;
          top: -30px;
          width: 225px;
          height: 110px;
        }
      }
    }
  }
  &__text {
    text-align: center;
    margin: 16px 16px 32px;
    width: calc(100% - 32px);
    @media screen and (min-width: 1100px) {
      max-width: 700px;
      width: 100%;
      margin: 32px 0 32px;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      margin: 32px;
      width: calc(100% - 64px);
    }
  }
  &__form {
    padding: 0 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @media screen and (min-width: 2000px) {
      padding: 100px calc(100vw - 1920px) 100px;
      flex-direction: row;
      background: url(../assets/bg_form.png) right / 50% no-repeat;
    }
    @media screen and (min-width: 1600px) and (max-width: 1999px) {
      padding: 100px $padding-aside-desktop 100px;
      flex-direction: row;
      background: url(../assets/bg_form.png) right / 50% no-repeat;
    }
    @media screen and (min-width: 1100px) and (max-width: 1599px) {
      padding: 100px 150px 100px;
      flex-direction: row;
      background: url(../assets/bg_form.png) right / 50% no-repeat;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      padding: 100px 32px 100px;
      flex-direction: column;
      background: url(../assets/bg_form.png) right / 50% no-repeat;
    }
    &-button {
      border: none;
      cursor: pointer;
    }
    &-left {
      max-width: 645px;
      width: 100%;
    }
    &-right {
      max-width: 580px;
      width: 100%;
      @media screen and (min-width: 1100px) {
        margin-left: 50px;
      }
      > form {
        z-index: 10;
        position: relative;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: url(../assets/noize.png) center/contain no-repeat,
          linear-gradient(
            0deg,
            rgba(247, 247, 255, 0.1),
            rgba(247, 247, 255, 0.1)
          );
        backdrop-filter: blur(15px);
        border-radius: 10px;
        @media screen and (min-width: 550px) {
          padding: 56px;
        }
        > div {
          font-family: $main-font-family;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 135%;
          text-align: center;
          color: #f6f7ff;
          margin-bottom: 16px;
          @media screen and (min-width: 550px) {
            font-size: 28px;
            margin-bottom: 50px;
          }
        }
        input,
        textarea {
          padding: 10px 12px;
          background: rgba(146, 154, 216, 0.25);
          border-radius: 4px;
          border: none;
          outline: none;
          width: 100%;
          margin-bottom: 24px;
          font-family: $main-font-family;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #f7f7ff;
          resize: none;
          transition: all 0.3s ease-in-out;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid #5e5fb7;
            background: rgba(146, 154, 216, 0.45);
          }
          &:focus {
            border: 1px solid #5e5fb7;
            background: rgba(146, 154, 216, 0.65);
            color: white;
          }
          &::placeholder {
            font-family: $main-font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #d7d7e3;
            opacity: 0.75;
          }
        }
      }
    }
    &-title {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 135%;
      color: #f6f7ff;
      margin-bottom: 32px;
      @media screen and (min-width: 1100px) {
        font-size: 42px;
      }
      @media screen and (min-width: 550px) {
        margin-bottom: 56px;
      }
      > span {
        position: relative;
        z-index: 2;
        display: inline-block;
        &::after {
          z-index: -1;
          content: "";
          position: absolute;
          left: -7px;
          top: -60px;
          width: 200px;
          height: 160px;
          background: url(../assets/neon2.png) center / contain no-repeat;
          @media screen and (min-width: 550px) {
            left: -25px;
            top: -85px;
            width: 325px;
            height: 240px;
          }
        }
      }
    }
    &-list {
      &-item {
        font-family: $main-font-family;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 145%;
        color: #f7f7ff;
        margin-bottom: 25px;
        position: relative;
        padding-left: 48px;
        @media screen and (min-width: 550px) {
          font-size: 20px;
        }
        &:before {
          content: "";
          width: 32px;
          height: 32px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          background: url(../assets/Frame3609.png) center / contain no-repeat;
        }
      }
    }
  }
  &__partnerships {
    padding: 0 16px 0;
    @media screen and (min-width: 2000px) {
      padding: 0 calc(100vw - 1920px) 0;
    }
    @media screen and (min-width: 1600px) and (max-width: 1999px) {
      padding: 0 $padding-aside-desktop 0;
    }
    @media screen and (min-width: 1100px) and (max-width: 1599px) {
      padding: 0 150px 0;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      padding: 0 32px 0;
    }
    &-title {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      line-height: 135%;
      color: #f6f7ff;
      margin-bottom: 32px;
      @media screen and (min-width: 1100px) {
        font-size: 42px;
        text-align: left;
        margin-bottom: 60px;
      }
      @media screen and (min-width: 550px) and (max-width: 1099px) {
        font-size: 32px;
        text-align: center;
        margin-bottom: 60px;
      }
    }
    &-row {
      width: 100%;
      > img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        @media screen and (min-width: 550px) {
          margin-right: 16px;
          width: calc(100% / 4 - 16px);
          margin-bottom: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__future {
    padding: 80px 16px 0;
    @media screen and (min-width: 2000px) {
      padding: 200px calc(100vw - 1920px);
    }
    @media screen and (min-width: 1600px) and (max-width: 1999px) {
      padding: 200px $padding-aside-desktop;
    }
    @media screen and (min-width: 1100px) and (max-width: 1599px) {
      padding: 200px 150px;
    }
    @media screen and (min-width: 550px) and (max-width: 1099px) {
      padding: 200px 32px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-title {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      line-height: 135%;
      color: #f6f7ff;
      margin-top: 32px;
      margin-bottom: 16px;
      @media screen and (min-width: 550px) {
        margin-bottom: 32px;
        margin-top: 0;
      }
      @media screen and (min-width: 1100px) {
        font-size: 42px;
        text-align: left;
        margin-bottom: 60px;
      }
      @media screen and (min-width: 550px) and (max-width: 1099px) {
        font-size: 32px;
        text-align: center;
        margin-bottom: 60px;
      }
    }
    &-block {
      margin-bottom: 80px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 32px;
      background: url(../assets/noize.png) center / cover no-repeat,
        rgba(246, 247, 255, 0.1);
      backdrop-filter: blur(8px);
      border-radius: 16px;
      @media screen and (min-width: 550px) {
        margin-bottom: 200px;
        padding: 50px;
        justify-content: flex-start;
        align-items: flex-start;
      }
      > .layer-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: hard-light;
        border: 2.5px solid #9091d6;
        filter: blur(4.98px);
        border-radius: 16px;
        z-index: 1;
      }
      > .layer-2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mix-blend-mode: hard-light;
        border: 2.5px solid #9091d6;
        filter: blur(1.66px);
        border-radius: 16px;
      }
      > .layer-3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        mix-blend-mode: hard-light;
        border: 8px solid rgba(94, 95, 183, 0.95);
        filter: blur(12px);
        border-radius: 16px;
      }
      > .layer-4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        border: 4px solid #abace7;
        filter: blur(4px);
        border-radius: 16px;
      }
      > .layer-5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        border: 1px solid #f7f7ff;
        filter: blur(0.133333px);
        border-radius: 16px;
      }
      &-item {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        @media screen and (min-width: 550px) {
          flex-direction: row;
          align-items: flex-start;
        }
        @media screen and (min-width: 1600px) {
          margin-right: 40px;
          width: calc(100% / 4 - 30px);
          margin-bottom: 0;
        }
        @media screen and (min-width: 1100px) and (max-width: 1599px) {
          margin-right: 10px;
          width: calc(100% / 4 - 8px);
          margin-bottom: 0;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          margin-right: 10px;
          margin-bottom: 10px;
        }
        &:last-child {
          margin-right: 0;
        }
        > img {
          width: 40px;
          @media screen and (min-width: 1600px) {
            width: 70px;
          }
          @media screen and (min-width: 1100px) and (max-width: 1599px) {
            width: 45px;
          }
        }
        > div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          @media screen and (min-width: 550px) {
            margin-left: 24px;
            align-items: flex-start;
          }
          > div {
            font-family: $main-font-family;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 130%;
            background: linear-gradient(
              139.14deg,
              #ffd595 -24.26%,
              #f3ac40 119.76%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #f3ac40;
            margin-bottom: 12px;
            text-align: center;
            @media screen and (min-width: 550px) {
              text-align: left;
              font-size: 56px;
            }
          }
          > span {
            font-family: $main-font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 130%;
            color: #f6f7ff;
            text-align: center;
            @media screen and (min-width: 550px) {
              text-align: left;
              font-size: 24px;
            }
          }
        }
      }
    }
    &-row {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      @media screen and (min-width: 550px) {
        flex-direction: row;
      }
    }
    &-left {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      @media screen and (min-width: 1600px) {
        max-width: 720px;
      }
      @media screen and (min-width: 1100px) and (max-width: 1599px) {
        max-width: 570px;
      }
      &-elem {
        width: 100%;
        background: url(../assets/noize.png),
          linear-gradient(
            0deg,
            rgba(247, 247, 255, 0.1),
            rgba(247, 247, 255, 0.1)
          );
        backdrop-filter: blur(48px);
        border-radius: 10px;
        padding: 16px;
        @media screen and (min-width: 550px) {
          margin-right: 20px;
        }
        @media screen and (min-width: 1600px) {
          max-width: 340px;
          padding: 40px;
        }
        @media screen and (min-width: 1100px) and (max-width: 1599px) {
          max-width: 265px;
          padding: 20px;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          padding: 20px;
        }
        &:nth-child(1) {
          margin-bottom: 20px;
        }
        &:nth-child(2) {
          @media screen and (min-width: 1100px) {
            margin-top: 40px;
          }
          @media screen and (min-width: 550px) and (max-width: 1099px) {
            margin-top: 0;
          }
        }
        &:nth-child(3) {
          margin-top: 20px;
          @media screen and (min-width: 1100px) {
            margin-bottom: 40px;
            margin-top: 0;
          }
          @media screen and (min-width: 550px) and (max-width: 1099px) {
            margin-top: 20px;
            margin-bottom: 0;
          }
        }
        &:nth-child(4) {
          margin-top: 20px;
        }
        > div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 16px;
          @media screen and (min-width: 550px) {
            margin-bottom: 32px;
          }
          > span {
            display: inline-block;
            margin-left: 16px;
            font-family: $main-font-family;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 130%;
            color: #f6f7ff;
            @media screen and (min-width: 550px) {
              font-size: 24px;
            }
          }
        }
        > p {
          margin-block-start: 0;
          margin-block-end: 0;
          font-family: $main-font-family;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 145%;
          color: #d7d7e3;
          @media screen and (min-width: 550px) {
            font-size: 16px;
          }
        }
      }
    }
    &-right {
      width: 100%;
      @media screen and (min-width: 1600px) {
        max-width: calc(100% - 800px);
        margin-left: 54px;
      }
      @media screen and (min-width: 1100px) and (max-width: 1599px) {
        max-width: calc(100% - 624px);
        margin-left: 30px;
      }
    }
    &-text {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 145%;
      color: #d7d7e3;
      text-align: center;
      @media screen and (min-width: 550px) {
        font-size: 20px;
        text-align: left;
      }
    }
    &-button {
      width: 100%;
      margin-top: 40px;
      @media screen and (min-width: 550px) {
        width: fit-content;
      }
    }
  }
  &__list {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media screen and (min-width: 1100px) {
      margin-top: 200px;
    }
    &-item {
      margin-bottom: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @media screen and (min-width: 1100px) {
        justify-content: space-between;
        margin-bottom: 250px;
      }
      &-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @media screen and (min-width: 2000px) {
          padding-left: calc(100vw - 1920px);
          padding-right: 0;
          align-items: flex-start;
        }
        @media screen and (min-width: 1600px) and (max-width: 1999px) {
          padding-left: $padding-aside-desktop;
          padding-right: 0;
          align-items: flex-start;
        }
        @media screen and (min-width: 1400px) and (max-width: 1599px) {
          padding-left: 150px;
          padding-right: 0;
          align-items: flex-start;
        }
        @media screen and (min-width: 1100px) and (max-width: 1399px) {
          padding-left: 50px;
          padding-right: 0;
          align-items: flex-start;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          padding-left: 32px;
          padding-right: 32px;
          align-items: center;
        }
      }
      &-right {
        position: relative;
        display: none;
        @media screen and (min-width: 1100px) {
          display: block;
        }
        > .img {
          z-index: 2;
          position: relative;
          @media screen and (min-width: 1600px) {
            width: 500px;
          }
          @media screen and (min-width: 1400px) and (max-width: 1599px) {
            width: 400px;
          }
          @media screen and (min-width: 1100px) and (max-width: 1399px) {
            width: 300px;
          }
        }
        > .podlozhka {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          z-index: 1;
        }
      }
      &-title {
        font-family: $main-font-family;
        font-style: italic;
        font-weight: 900;
        font-size: 42px;
        text-align: center;
        line-height: 110%;
        text-transform: uppercase;
        max-width: 957px;
        width: auto;
        @media screen and (min-width: 1100px) {
          font-size: 112px;
          text-align: left;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          font-size: 84px;
          text-align: center;
        }
        &--white {
          text-shadow: 0px 8px 8px rgba(39, 72, 121, 0.4);
          position: relative;
          > span {
            z-index: 2;
            color: #f6f7ff;
            position: relative;
          }
          > div {
            z-index: 1;
            position: absolute;
            left: 3px;
            top: 6px;
            -webkit-text-stroke: 1px #f7f7ff;
            -webkit-text-fill-color: transparent;
            color: #f7f7ff;
            font-size: 43px;
            text-align: center;
            @media screen and (min-width: 1100px) {
              font-size: 113px;
              text-align: left;
            }
            @media screen and (min-width: 550px) and (max-width: 1099px) {
              font-size: 85px;
              text-align: center;
            }
          }
        }
        &--yellow {
          text-shadow: 0px 8px 8px rgba(39, 72, 121, 0.4);
          position: relative;
          > span {
            z-index: 2;
            color: #f6f7ff;
            position: relative;
          }
          > div {
            z-index: 1;
            position: absolute;
            left: 3px;
            top: 6px;
            -webkit-text-stroke: 1px #f3ac40;
            -webkit-text-fill-color: transparent;
            color: #f3ac40;
            font-size: 43px;
            text-align: center;
            @media screen and (min-width: 1100px) {
              font-size: 113px;
              text-align: left;
            }
            @media screen and (min-width: 550px) and (max-width: 1099px) {
              font-size: 85px;
              text-align: center;
            }
          }
        }
        &--blue {
          text-shadow: 0px 8px 8px rgba(39, 72, 121, 0.4);
          position: relative;
          > span {
            z-index: 2;
            color: #f6f7ff;
            position: relative;
          }
          > div {
            z-index: 1;
            position: absolute;
            left: 3px;
            top: 6px;
            -webkit-text-stroke: 1px #5e5fb7;
            -webkit-text-fill-color: transparent;
            color: #5e5fb7;
            font-size: 43px;
            text-align: center;
            @media screen and (min-width: 1100px) {
              font-size: 113px;
              text-align: left;
            }
            @media screen and (min-width: 550px) and (max-width: 1099px) {
              font-size: 85px;
              text-align: center;
            }
          }
        }
        &--border {
          font-family: $main-font-family;
          font-style: italic;
          font-weight: 900;
          line-height: 110%;
          text-transform: uppercase;
          -webkit-text-stroke: 4px #f7f7ff;
          -webkit-text-fill-color: transparent;
          color: #f7f7ff;
          font-size: 42px;
          text-align: center;
          width: auto;
          @media screen and (min-width: 1100px) {
            font-size: 116px;
            text-align: left;
          }
          @media screen and (min-width: 550px) and (max-width: 1099px) {
            font-size: 88px;
            text-align: center;
          }
        }
      }
      &-text {
        font-family: $main-font-family;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 145%;
        color: #f7f7ff;
        margin: 32px 16px 24px;
        width: calc(100% - 32px);
        text-align: center;
        @media screen and (min-width: 1100px) {
          max-width: 723px;
          width: 100%;
          margin: 32px 0 56px;
          font-size: 20px;
          text-align: left;
        }
        @media screen and (min-width: 550px) and (max-width: 1099px) {
          margin: 32px 0 24px;
          width: 100%;
          font-size: 18px;
          text-align: left;
        }
      }
      &-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        width: 100vw;
        overflow-x: scroll;
        @media screen and (min-width: 550px) {
          flex-wrap: wrap;
          max-width: 802px;
          width: 100%;
          overflow-x: visible;
        }
        &-item {
          padding: 12px 24px;
          background: url(../assets/noize.png), rgba(247, 247, 255, 0.1);
          border: 2px solid #f7f7ff;
          box-sizing: border-box;
          border-radius: 60px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 24px;
          margin-bottom: 24px;
          > img {
            display: none;
            @media screen and (min-width: 550px) {
              display: block;
            }
          }
          > span {
            white-space: nowrap;
            font-family: $main-font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 135%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #f7f7ff;
            display: inline-block;
            @media screen and (min-width: 550px) {
              margin-left: 16px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
