$dark: #1F1F30;
$white: #F7F7FF;
$grey: #ceceee;

$main-font-family: 'Poppins', sans-serif;
$main-bg: $dark;
$padding-aside-desktop: 250px;
$padding-top-desktop: 120px;
$light-text-color: $white;
$dark-text-color: $dark;
$main-transition: all 0.3s ease-in-out;
$title-color: $white;
$text-color: $grey;